@model BarsaClub.Models.TrialWorkoutModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Успешная запись</title>
    <link rel="icon" href="/Content/Images/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div>
        <p>@Model.NameField, Вы успешно записаны на тренировку</p>
        <p>@Model.DateField, уровень @Model.LevelSelect</p>
        <p>Сейчас вы будете перенаправлены на главную страницу</p>
        <script>
            setTimeout(() => {
                location.href = '/'
            }, 2000);
        </script>
    </div>
</body>
</html>
