/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    .logo-image {
        width: 150px !important;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
    .logo-image {
        margin-bottom: 80px;
    }

    .sub-header {
        top: 80px;
        height: calc(100% - 80px);
    }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 813px) and (orientation: landscape) {
    .sub-header {
        top: 10px;
        height: calc(100% - 10px);
    }

    .logo-image {
        width: 200px;
        margin-bottom: 20px;
    }

    .ball3 {
        top: 30%;
        left: 65%;
        width: 40.5px;
    }

    .ball4 {
        top: 60%;
        left: 100%;
        width: 135px;
    }

    .ball2 {
        top: 70%;
        left: 69%;
        width: 70px;
    }

    .button-container {
        bottom: 100px;
    }
}

@media (min-width: 420px) {
    .arena-content {
        top: 250px;
    }

    #about {
        min-height: 1000px;
    }

    .date, .day {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .navbar-brand{
        height: 50px;
    }

    .choose-button{
        padding: 0px 10px;
    }

    .navbar-nav > li > a {
        line-height: 30px;
    }

    .navbar-header {
        padding-left: 5px;
        padding-right: 0px;
    }

    .button-container {
        bottom: 80px;
    }

    .parallax {
        margin-top: 100px;
        height: calc(100% - 100px);
    }

    html, body {
        font-size: 18px;
    }

    .logo-image {
        width: 300px;
        margin-bottom: 50px;
    }

    .sub-header {
        top: 70px;
        height: calc(100% - 70px);
    }

    header {
        padding-top: 30px;
    }

    .head-number {
        height: 50px;
        text-align: right;
    }

    .ball3 {
        margin-top: -30px;
        width: 63px;
    }

    .ball4 {
        margin-top: -50px;
        width: 189px;
    }

    .ball2 {
        margin-top: -50px;
        width: 108px;
    }

    .parallax {
        margin-top: 50px;
        height: calc(100% - 50px);
    }

    .learn-content {
        top: 180px;
        width: calc(100% - 80px);
    }

    .top-align div.choose-heading {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }

    #learn {
        min-height: 750px;
    }

    #learn, #trainers, #contacts {
        padding: 40px 20px;
    }

    #learn{
        padding-right: 30px;
    }

    #home_arenas > #more-container {
        padding: 40px;
    }

    #about {
        min-height: 850px;
    }

    .about-container {
        background-position: left;
        padding: 30px;
    }

    .center-ball img {
        width: 200px;
    }

    #abonements {
        height: 700px;
        padding: 40px;
    }

    .abonements-row {
        height: 650px;
        position: relative;
    }

    .abonements-container {
        width: 650px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #abonements .parallax_layer-fore {
        display: block;
        left: unset;
        width: calc(60% / 2);
        top: 30%;
    }

    #abonements .parallax_layer-near{
        display: block;
    }

    #abonements .parallax_layer-back{
        display: block;
    }

    .col-abonem {
        width: 50%;
    }

    .col-abonem-2 .abonement-item {
        float: right;
        margin: unset;
    }

    .abonement-item {
        float: left;
        margin: unset;
    }

    .trainer-image{
        height: 450px;
    }

    .trainer-image img{
        max-width: 400px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 813px) and (orientation: landscape) {
    .sub-header {
        top: 10px;
        height: calc(100% - 10px);
    }

    .logo-image {
        width: 230px;
        margin-bottom: 20px;
    }

    .button-container {
        bottom: 60px;
    }
}

@media only screen and (min-device-height: 768px) and (max-device-height: 813px) and (orientation: portrait) {
    .logo-image {
        width: 280px;
    }

    .sub-header {
        top: 100px;
        height: calc(100% - 100px);
    }
}

@media (min-width: 992px) {
    .head-number a, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
        font-size: 16px;
    }

    .nav > li > a {
        padding: 10px 10px;
    }

    .navbar-header {
        padding-left: 15px;
        padding-right: 15px;
    }

    .choose-button img {
        margin-left: 10px;
    }

    .logo-image {
        width: 380px;
    }

    .half_layer {
        width: calc(100% / 2);
    }

    header .half_layer.safari{
        width: calc(110% / 2);
    }

    .ball3 {
        top: 21%;
        left: 61%;
        width: 67.5px;
        filter: blur(5px) drop-shadow(-17px 30px 30px rgba(0,51,153,0.3))
    }

    .ball4 {
        top: 61%;
        left: 32%;
        left: 100%;
        width: 216px;
        filter: blur(10px) drop-shadow(-35px 60px 60px rgba(0,51,153,0.3));
    }

    #abonements .ball4 {
        left: 0%;
        transform: translate(-50%, -50%) rotate(70deg);
        filter: blur(10px) drop-shadow(12px 30px 30px rgba(0,51,153,0.3));
    }

    #abonements .parallax_layer-fore {
        width: calc(70% / 2);
    }

    #abonements .parallax_layer-fore.safari{
        width: calc(25% / 2);
    }

    #abonements .choose-button {
        position: relative;
        top: 50%;
        transform: translate(0,-50%);
    }

    .ball2 {
        top: 68%;
        left: 65%;
        width: 116px;
    }

    #abonements .ball2 {
        left: 10%;
    }

    .learn-content {
        width: 100%;
    }

    #learn {
        min-height: 750px;
    }

        #learn.classic {
            background-image: url(../Content/Images/backgrounds/Classic.jpg);
        }

        #learn.beach {
            background-image: url(../Content/Images/backgrounds/Beach.jpg);
        }

        #learn.tournir {
            background-image: url(../Content/Images/backgrounds/Tournir.jpg);
        }

    #home_arenas.kuznecky > #more-container {
        background-image: url(../Content/Images/backgrounds/kuznecky.jpg);
    }

    #home_arenas.dostoevskaya > #more-container {
        background-image: url(../Content/Images/backgrounds/dostoevskaya.jpg);
    }

    #home_arenas.oktyabrskaya > #more-container {
        background-image: url(../Content/Images/backgrounds/oktyabrskaya.jpg);
    }

    .learn-content > .text-left,
    .learn-content > .text-center {
        text-align: right;
    }

    .arena-description {
        margin-right: 0px;
    }

    .trainer {
        padding: 10px 30px;
    }

    .trainer-image {
        height: 400px;
    }

        .trainer-image img {
            max-width: 300px;
        }

    .contact-social {
        max-width: 300px;
    }

    .about-description .text-center {
        text-align: right;
        margin: unset;
    }

    .col-190 {
        width: 170px;
        padding-left: 20px;
        text-align: left;
    }

    .col-140 {
        width: 95px;
    }

    .events .col-140 {
        display: block;
        width: 95px;
    }

    .col-rest {
        width: 690px;
    }

    .calendar-container {
        width: 860px;
        max-width: 860px;
    }

    .arrow {
        width: 30px;
    }

    .arrow-left {
        left: -50px;
    }

    .arrow-right {
        right: -50px;
    }

    .calendar-container > .container-fluid {
        display: block;
    }

        .calendar-container > .container-fluid.mobile {
            display: none;
        }

    .events .col-140 button {
        font-size: 13px;
    }

    .date {
        line-height: 40px;
    }

    .day {
        line-height: 30px;
    }

    .date, .day {
        font-size: 15px;
    }

    #abonements .top-align div.choose-heading {
        float: left;
    }

    #abonements .top-align div {
        height: 100%;
    }
}

@media (min-width: 1200px) {
    section .container-fluid{
        max-width: 1366px!important;
    }
    #abonements .ball2 {
        left: 14%;
    }

    #abonements .parallax_layer-fore {
        width: calc(80% / 2);
    }

    #abonements .parallax_layer-fore.safari{
        width: calc(30% / 2);
    }

    .events .col-140 button {
        font-size: 16px;
    }

    .arrow {
        width: 32px;
    }

    .calendar-container {
        width: 1110px;
        max-width: 1110px;
    }

    .col-190 {
        width: 190px;
    }

    .col-rest {
        width: 980px;
    }

    .col-140,
    .events .col-140 {
        width: 130px;
    }

    .nav > li > a {
        padding: 10px 15px;
    }

    .choose-button img {
        margin-left: 50px;
    }

    .metro-button img {
        margin-left: 40px;
    }

    .logo-image {
        margin-bottom: 70px;
    }

    .ball3 {
        width: 81px;
    }

    .ball4 {
        width: 270px;
    }

    .ball2 {
        width: 140px;
    }

    .top-align div.choose-heading {
        float: left;
    }

    .top-align div {
        height: 100%;
    }

    .learn-content {
        top: 120px;
    }


    #learn {
        min-height: 100vh;
    }

    #home_arenas {
        min-height: 800px;
    }

    .trainer {
        padding: 10px 50px;
    }

    .trainer-image {
        height: 420px;
    }

        .trainer-image img {
            max-width: 320px;
        }

    .contact-social {
        max-width: 320px;
    }

    .button-row {
        max-height: 435px;
    }
}

@media (min-width: 1600px) {
    .logo-image {
        width: 450px;
        margin-bottom: 90px;
    }

    .ball3 {
        top: 15%;
        left: 64%;
    }

    .trainer {
        padding: 10px 60px;
    }

    .trainer-image {
        height: 500px;
    }

        .trainer-image img {
            max-width: 400px;
        }
}
