
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Оплата не произведена</title>
</head>
<body>
    <div>
        <p>К сожалению, оплата не произведена</p>
        <p>Сейчас вы будете перенаправлены на главную страницу</p>
    </div>
    <script>
            setTimeout(() => {
                location.href = '/'
            }, 2000);
    </script>
</body>
</html>
